/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Responsive images base, put your images in a wrapper
img {
    display: block;
    width: 100%;
    height: auto;
}

/*Here's where you would put your Google Fonts import*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:200,300,400,400i,600,700,900|Source+Serif+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */

body {
  font-size: 16px; /* Base Size */
  /*Setting the base font family*/
  font-family: "Montserrat", Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   My CSS customization
   ========================================================================== */
   @media only screen and (min-width: 960px);{

   }

section.container1 {
background-color:#FFCC66;
height:1600px;
padding-top: 100px;
}
section.container2 {
background-color:#FF6666;
height:900px;
padding-top: 100px;
}

section.container3 {
background-color:#FFCC66;
height:900px;
padding-top: 100px;
}
section.container4 {
background-color:#FF6666;
height:900px;
padding-top: 100px;
}
section.gradientcontainer {
height:500px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffcc66+22,ff6666+77,ff6666+100 */
background: #ffcc66; /* Old browsers */
background: -moz-linear-gradient(top, #ffcc66 22%, #ff6666 77%, #ff6666 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffcc66 22%,#ff6666 77%,#ff6666 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffcc66 22%,#ff6666 77%,#ff6666 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc66', endColorstr='#ff6666',GradientType=0 ); /* IE6-9 */
}

.inner-wrapper {
max-width: 750px;
margin: 0 auto;
}
header {
font-size:6em;
font:"Montserrat", Verdana, sans-serif;
font-weight: bold;
color:#FF3366;
justify-content: center;
padding-left:60px;
padding-top: 150px;

}
h1 {
font-size:30px;
font:"Montserrat", Verdana, sans-serif;
color:#3D2A30;
justify-content:center;
padding-left: 60px;
}
h2{
font-size:4em;
font:"Montserrat", Verdana, sans-serif;
color:#3D2A30;
width:90%;
margin:0 auto;
}


.quote {
font-size:2em;
font:"Montserrat", Verdana, sans-serif;;
color:#FF3366;
background:pink;
}

p {
font-size:;
font:"Montserrat", Verdana, sans-serif;
color:#3D2A30;
justify:auto;
/*background:yellow;*/
padding-bottom:100px;
}

.illustrations{
  max-width: 600px;
  padding-bottom: 50px;
  justify-content: center;
}

img {
  width:100%;
  height:auto;
}
.cart {
  animation-name:s;
  transition-delay: 0s;
}
.watermelon {
  padding-top: 50px;
  padding-bottom: 50px;

}
button {
  background:none;
  box-shadow:none;
  border:none;
  margin:;
  right:0;
  bottom:0;
  position: fixed;
}
