@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:200,300,400,400i,600,700,900|Source+Serif+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Responsive images base, put your images in a wrapper
img {
    display: block;
    width: 100%;
    height: auto;
}

/*Here's where you would put your Google Fonts import*/


/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */

body {
  font-size: 16px; /* Base Size */
  /*Setting the base font family*/
  font-family: "Montserrat", Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   My CSS customization
   ========================================================================== */

section {
  padding-left: 2em;
  padding-bottom: 3em;
  padding-right: 2em;
  background-color:#FFCC66;
  padding-top: 6.250em;
  margin:auto;
}


.inner-wrapper {
max-width: 750px;
margin: auto;
/*background-color: white;*/
}

header {
/*font-size:6em;  */
font:"Montserrat", Verdana, sans-serif;
font-weight: bold;
color: #D24043;
margin: auto;
text-align: center;

}
h1 {
font-size: 6em;
font:"Montserrat", Verdana, sans-serif;
/*color:#3D2A30;*/
margin: auto;
line-height: 1;
}
h2{
font-size:4em;
font:"Montserrat", Verdana, sans-serif;
color:#3D2A30;
width:100%;
margin: 0;
text-align: center;
}
h3 {
  font-size: 2em;
  color: #3d2a30;
}


.quote {
font-size:4em;
margin:0;
text-align: center;
font:"Montserrat", Verdana, sans-serif;;
color:#D24043;
padding-top: 1em;
padding-bottom:1em;
}

p {
font-size:1.25em;
font:"Montserrat", Verdana, sans-serif;
/*color:#3D2A30;*/
justify:auto;
pading: 0.5em 0 0.5em 0;
}


img {
  width:100%;
  max-width: 800px;
  height:auto;
  padding:auto;
  margin:auto;
  /*background-color: pink;*/

}
.cart {
  /*animation-name:s;
  transition-delay: 0s;*/
background-color: #FFcc66;
  width: 100%;
overflow: hidden;
margin-bottom: -6em;
}
.cart img {
  max-width: 20em;
  margin: 0 auto;
  display: block;
  transform: translateX(-240%);
  transition: transform 3s ease;
}
.cart.element-in img {
  transform: translateX(240%);
}
.watermelon {
  padding-top: 3.125em;
  padding-bottom: 3.125em;
  /*background-color: blue;*/

}
.flexcontainer {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content:center;
background-color: none;
}
.thing1 {
  width:32.5%;
  height:auto;
}

.thing2 {
  width:32.5%;
  height:auto;
}

.thing3 {
width:32.5%;
height:auto;
}

button {
  background:none;
  box-shadow:none;
  border:none;
  margin:;
  right:0;
  bottom:0;
  position: fixed;
}

.wobble > div {
	        animation: wobble-hor-bottom 0.8s 0.5s infinite both;
}
.wobble .thing1 {
  animation-delay: 0.5s;
}
.wobble .thing2 {
  animation-delay: 0.75s;
}
.wobble .thing3 {
  animation-delay: 1s;
}

  .header {
    /*font-size:40px;*/
    font:"Montserrat", Verdana, sans-serif;
    font-weight: bold;
    color:#D24043;
    margin: auto;
  }
  h1 {
  font-size: 4em;
  font:"Montserrat", Verdana, sans-serif;
  /*color:#3D2A30;*/
  margin: auto;
  }


.bite {
 position: relative;
}
.biteoverlay {
position:absolute;
left:0;
top:0;
animation: bite 2s linear forwards infinite alternate;
}

@media only screen and (max-width: 630px) {

  section {
    padding:1em 2em 3em 2em;
    height: 11.11%
  }
  button {
    height:auto;
    width:6em;
  }
  .cart img {
    max-width: 10em;
    margin: 0 auto;
    display: block;
    transform: translateX(-50%);
    transition: transform 2s ease;
  }
  .quote {
    font-size:2em;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size:3em;
  }
  h3 {
    font-size:1em;
  }
  p {
    font-size:1em;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2017-10-2 21:10:59
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-5px) rotate(-1deg);
            transform: translateX(-5px) rotate(-1deg);
  }
  30% {
    -webkit-transform: translateX(5px) rotate(1deg);
            transform: translateX(5px) rotate(1deg);
  }
  45% {
    -webkit-transform: translateX(-5px) rotate(-2deg);
            transform: translateX(-5px) rotate(-2deg);
  }
  60% {
    -webkit-transform: translateX(5px) rotate(1.4deg);
            transform: translateX(5px) rotate(1.4deg);
  }
  75% {
    -webkit-transform: translateX(-1px) rotate(-1.2deg);
            transform: translateX(-1px) rotate(-1.2deg);
  }
}

@keyframes bite {

0% {
  opacity: 0;
}
33%, 66% {
  opacity: 1;
}
100% {
  opacity: 0;
}

}
