/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Responsive images base, put your images in a wrapper
img {
    display: block;
    width: 100%;
    height: auto;
}

/*Here's where you would put your Google Fonts import*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:200,300,400,400i,600,700,900|Source+Serif+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */

body {
  font-size: 16px; /* Base Size */
  /*Setting the base font family*/
  font-family: "Montserrat", Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   My CSS customization
   ========================================================================== */

section {
  padding-left: 2em;
  padding-right: 2em;
}
section.container1 {
background-color:#FFCC66;
height:1400px;
padding-top: 6.250em;
margin:auto;
}
section.container2 {
height:1200px;
background-color:#FFCC66;
padding-top: 6.250em;
margin:auto;
}

section.container3 {
background-color:#FFCC66;
height:650px;
padding-top: 6.250em;
margin: auto;
}

section.container4 {
background-color:#FFCC66;
height:28.125em;
padding-top: 6.250em;
margin: auto;
}

.inner-wrapper {
max-width: 750px;
margin: auto;
/*background-color: white;*/
}

header {
/*font-size:6em;  */
font:"Montserrat", Verdana, sans-serif;
font-weight: bold;
color: #D24043;
margin: auto;

}
h1 {
font-size: 6em;
font:"Montserrat", Verdana, sans-serif;
/*color:#3D2A30;*/
margin: auto;
line-height: 1;
}
h2{
font-size:4em;
font:"Montserrat", Verdana, sans-serif;
color:#3D2A30;
width:100%;
margin: auto;
}
h3 {
  font-size: 1em;
  color: #3d2a30;
}


.quote {
font-size:2em;
font:"Montserrat", Verdana, sans-serif;;
color:#D24043;
}

p {
font-size:1.25em;
font:"Montserrat", Verdana, sans-serif;
/*color:#3D2A30;*/
justify:auto;
padding-bottom:0;
}


img {
  width:100%;
  max-width: 800px;
  height:auto;
  padding:auto;
  margin:auto;
  /*background-color: pink;*/

}
.cart {
  animation-name:s;
  transition-delay: 0s;
}
.watermelon {
  padding-top: 3.125em;
  padding-bottom: 3.125em;
  /*background-color: blue;*/

}
.flexcontainer {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content:center;
background-color: none;
}
.thing1 {
  width:32.5%;
  height:auto;
}

.thing2 {
  width:32.5%;
  height:auto;
}

.thing3 {
width:32.5%;
height:auto;
}

button {
  background:none;
  box-shadow:none;
  border:none;
  margin:;
  right:0;
  bottom:0;
  position: fixed;
}



@media only screen and (max-width: 630px) {
  section.container1 {
    height:11.11%;
    padding-top: 1em;
  }
  section.container2 {
    height:11.11%;
    padding:0;
  }
  section.container3 {
    height:11.11%;
    padding:0;
  }
  section.container4 {
    height:11.11%;
    padding:0;
  }
  .header {
    /*font-size:40px;*/
    font:"Montserrat", Verdana, sans-serif;
    font-weight: bold;
    color:#D24043;
    margin: auto;
  }
  h1 {
  font-size: 4em;
  font:"Montserrat", Verdana, sans-serif;
  /*color:#3D2A30;*/
  margin: auto;
  }

}
